.add {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add form {
    gap: 20px;
}

.add-img img {
    width: 120px;
    cursor: pointer;
}

.add-product, .add-desc {
    width: max(40%, 280px);
}

.add-desc textarea, .add-product input {
    padding: 10px;
}

.add-cate-price {
    display: flex;
    gap: 30px;
}

.add-cate-price select, .add-cate-price input {
    max-width: 120px;
    padding: 10px;
}

.add-btn {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}