.update {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.update form {
    gap: 20px;
}

.update-img img {
    width: 120px;
    cursor: pointer;
}

.update-product, .update-desc {
    width: max(40%, 280px);
}

.update-desc textarea, .update-product input {
    padding: 10px;
}

.update-cate-price {
    display: flex;
    gap: 30px;
}

.update-cate-price select, .update-cate-price input {
    max-width: 120px;
    padding: 10px;
}

.update-btn {
    max-width: 120px;
    border: none;
    border-radius: 3px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}